@import (reference) './var.less';

.tiny-react-image-editor {
  &-container {
    position: relative;
    font-family: @font-family;
  
    &, * {
      box-sizing: border-box;
      user-select: none;
    }
  }
}
